/* Swiper Container */
.swiper {
  width: 92vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0px, 0, 0);
  scrollbar-width: none;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}


/* Swiper Bullets */
.swiper-pagination {
  position: absolute;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullets {
  bottom: 2vh;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: var(--grey);
  opacity: 0.3;
  cursor: pointer;
}

.swiper-pagination-bullet:hover {
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
