:root {
  --color: #4285f4;
  --bg-color: #f7f7f7;
  --grey: #2c394f;
  --font: 'Source Serif Pro', serif
}

html, body {
  position: relative;
  height: 90vh;
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 5vh 3vw;
  background: var(--bg-color);
  overflow: hidden;
  color: var(--grey);
}

h2 {
  font-size: 1.75vw;
  font-weight: bold;
  margin-bottom: 2vh;
}

h3 {
  font-size: 1.5vw;
  font-weight: bold;
}

h4 {
  font-size: 1.4vw;
  font-weight: bold; 
  margin-bottom: 1vh;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color);
}

/* Header area */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  color: var(--color);
}

header #logo {
  font-size: 1.6vw;
  font-weight: bold;
}

header nav a {
  margin: 0 10px;
}

header #logo:hover, header nav i:hover {
  color: var(--grey);
}


/* Icons */
.fa-brands {
  font-size: 1.5em;
  color: var(--color);
}