#welcome {
  align-items: center;
  margin-top: -5vh;
  color: var(--color);
  flex-direction: column;
  justify-content: center;
  
}

#welcome h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 5vw;
  position: relative;
  padding-right: 10px;
  margin-bottom: 7vh;
}

#welcome h1::before,
#welcome h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(100% + 10px);
  background: var(--bg-color);
}

#welcome h1::before {
  animation: typing 5s steps(19) 1s forwards;
  border-left: 5px solid var(--color);
}

#welcome h1::after {
  animation: 
    typing 5s steps(19) 1s forwards,
    blink 500ms infinite;
}

#welcome h2 {
  color: var(--grey);
  opacity: 0;
  transform: translateY(3vh);
  animation: fadeIn 2s ease 5.5s forwards;
  font-size: 2vw;
}


/* Animation */
@keyframes typing {
  80% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes blink {
  100% {
    background: transparent;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}