/* Universal CSS */
:root {
  --color: #4285f4;
  --bg-color: #f7f7f7;
  --grey: #2c394f;
  --font: 'Source Serif Pro', serif
}

html, body {
  position: relative;
  height: 90vh;
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 5vh 3vw;
  background: var(--bg-color);
  overflow: hidden;
  color: var(--grey);
}

h2 {
  font-size: 1.75vw;
  font-weight: bold;
  margin-bottom: 2vh;
}

h3 {
  font-size: 1.5vw;
  font-weight: bold;
}

h4 {
  font-size: 1.4vw;
  font-weight: bold; 
  margin-bottom: 1vh;
}

a {
  text-decoration: none;
}


/* Header section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  color: var(--color);
}

header #logo {
  font-size: 1.6vw;
  font-weight: bold;
}

header nav a {
  margin: 0 10px;
}

header #logo:hover, header nav i:hover {
  color: var(--grey);
}

/* Welcome section */
#welcome {
  align-items: center;
  margin-top: -5vh;
  color: var(--color);
  flex-direction: column;
  justify-content: center;
  
}

#welcome h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 5vw;
  position: relative;
  padding-right: 10px;
  margin-bottom: 7vh;
}

#welcome h2 {
  font-size: 2vw;
}

#welcome h1::before,
#welcome h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(100% + 10px);
  background: var(--bg-color);
}

#welcome h1::before {
  animation: typing 5s steps(19) 1s forwards;
  border-left: 5px solid var(--color);
}

#welcome h1::after {
  animation: 
    typing 5s steps(19) 1s forwards,
    blink 500ms infinite;
}

#welcome h2 {
  color: var(--grey);
  opacity: 0;
  transform: translateY(3vh);
  animation: fadeIn 2s ease 5.5s forwards;
}


/* Interactive map section */
/* Map style */
#map-results {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}

#map-results #map-container {
  width: 50vw;
  margin-right: 5vw;
}

#map-results #regions_div {
  width: 130%;
  position: relative;
}


/* Trends style */
#map-results #find {
  margin-top: 27vh;
  font-size: 3vw;
  line-height: 1.2;
  font-weight: bold;
}

#map-results #trends-results {
  margin: 0 auto;
  width: 45vw;
  display: none;
}

#map-results #trends-results #trends-container #current-date {
  margin-bottom: 5vh;
}

#map-results #trends-results #trends-container .trend-box {
  background-color: white;
  padding: 15px;
  border: 1px solid #d7d7d7;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}

#map-results #trends-results #trends-container .trend-box:hover {
  background: #f0f0f0;
}

#map-results #trends-results #trends-container .trend-content-wrapper {
  display: flex;
  align-items: center;
}

#map-results #trends-results #trends-container .trend-content {
  display: flex;
  flex-direction: column;
}

#map-results #trends-results #trends-container .trend-content #volume {
  font-size: 1.2vw;
  font-weight: bold;
  color: #4d4d4d;
}

#map-results #trends-results #trends-container .trend-box .trend-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  overflow: hidden;
}

#map-results #trends-results #related-video {
  display: none;
  margin-top: 5vh;
  width: 30vw;
  height: 35vh;
}

#map-results #trends-results h2 {
  font-size: 1.5vw;
}

#map-results #trends-results #related-video iframe {
  position: relative;
  width: 100%;
  height: 100%;
}


/* Year Grid Style */
#year-trend {
  display: flex;
  flex-direction: column;
}

#year-trend .page-title {
  margin-top: 20vh;
}

#year-trend .page-title h2 {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
}

#year-trend .page-title span {
  font-size: 2.75vw;
  font-weight: bold;
  color: var(--color);
}

#year-trend #year-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 20vh;
}

#year-trend #year-container .month {
  height: 40vh;
  border: none;
  cursor: pointer;
  perspective: 1000px;
  opacity: .9;
  margin: 1%;
}


#year-trend #year-container .month .month-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#year-trend #year-container .month:hover .month-inner {
  transform: rotateY(180deg);
}

#year-trend #year-container .month .month-inner .month-front,
#year-trend #year-container .month .month-inner .month-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#year-trend #year-container .month .month-inner .month-front {
  font-weight: 600;
  font-size: 5vw;
  font-family: var(--font);
  background-color: var(--color);
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#year-trend #year-container .month .month-inner .month-front h3 {
  padding: 10%;
  font-weight: 600;
  font-size: 5vw;
  font-family: var(--font);
  background-color: var(--color);
  color: var(--bg-color);
}

#year-trend #year-container .month .month-inner .month-back {
  transform: rotateY(180deg);
  background-color: var(--color);
  display: flex;
  align-items: center;
}

#year-trend #year-container .month .month-inner .month-back p {
  color: var(--bg-color);
  padding: 10%;
  line-height: 1.75vw;
  letter-spacing: .1vw;
}



/* Swiper Style */
/* Swiper Container */
.swiper {
  width: 92vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-slide {
  display: flex;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0px, 0, 0);
  scrollbar-width: none;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}


/* Swiper Bullets */
.swiper-pagination {
  position: absolute;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullets {
  bottom: 2vh;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: var(--grey);
  opacity: 0.3;
  cursor: pointer;
}

.swiper-pagination-bullet:hover {
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}


/* Icons */
.fa-brands {
  font-size: 1.5em;
  color: var(--color);
}


/* Animation */
@keyframes typing {
  80% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes blink {
  100% {
    background: transparent;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}
